<!--begin::Brand-->
<div class="d-flex flex-center pt-10 pt-lg-0 mb-10 mb-lg-0 h-lg-225px">
    <!--begin::Sidebar toggle-->
    <div class="btn btn-icon btn-active-color-primary w-30px h-30px d-lg-none me-4 ms-n15" id="kt_sidebar_toggle">
        <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
        <span class="svg-icon svg-icon-1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Sidebar toggle-->
    <!--begin::Logo-->
    <a routerLink="/home">
        <img alt="Logo" src="assets/media/logos/default-small.svg" class="h-70px" />
    </a>
    <!--end::Logo-->
</div>
<!--end::Brand-->
<!--begin::Row-->
<div class="row g-7 w-xxl-850px">
    <!--begin::Col-->
    <div class="col-xxl-5">
        <!--begin::Card-->
        <div class="card border-0 shadow-none h-lg-100" style="background-color: #A838FF">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-column flex-center pb-0 pt-15">
                <!--begin::Wrapper-->
                <div class="px-10 mb-10">
                    <!--begin::Heading-->
                    <h3 class="text-white mb-2 fw-bolder text-center text-uppercase mb-6">Welcome to Orbit ToolBox</h3>
                    <!--end::Heading-->
                    <!--begin::List-->
                    <div class="mb-7">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
                                    <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <span class="text-white opacity-75">Encode with different formats</span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
                                    <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <span class="text-white opacity-75">Decode what ever you want</span>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-2">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                            <span class="svg-icon svg-icon-4 svg-icon-white opacity-75 me-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H14.4V11Z" fill="currentColor" />
                                    <path opacity="0.3" d="M14.4 20V4L21.7 11.3C22.1 11.7 22.1 12.3 21.7 12.7L14.4 20Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <span class="text-white opacity-75">Create README Easily !</span>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::List-->
                    <!--begin::Link-->
                    <a href="https://www.npmjs.com/package/orbit-encoder" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bold">Visit the NPM Website 🚀</a>
                    <!--end::Link-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Illustrations-->
                <img class="mw-100 h-225px mx-auto mb-lg-n18" src="assets/media/illustrations/sigma-1/12.png" />
                <!--end::Illustrations-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-7">
        <!--begin::Row-->
        <div class="row g-lg-7">
            <!--begin::Col-->
            <div class="col-sm-6">
                <!--begin::Card-->
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" class="card border-0 shadow-none min-h-200px mb-7" style="background-color: #F9666E">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-column flex-center text-center">
                        <!--begin::Illustrations-->
                        <img class="mw-100 h-100px mb-7 mx-auto" src="assets/media/illustrations/sigma-1/4.png" />
                        <!--end::Illustrations-->
                        <!--begin::Heading-->
                        <h4 class="text-white fw-bold text-uppercase">Encode Something</h4>
                        <!--end::Heading-->
                    </div>
                    <!--end::Card body-->
                </a>
                <!--end::Card-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-sm-6">
                <!--begin::Card-->
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#kt_modal_create_account" class="card border-0 shadow-none min-h-200px mb-7" style="background-color: #35D29A">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-column flex-center text-center">
                        <!--begin::Illustrations-->
                        <img class="mw-100 h-100px mb-7 mx-auto" src="assets/media/illustrations/sigma-1/5.png" />
                        <!--end::Illustrations-->
                        <!--begin::Heading-->
                        <h4 class="text-white fw-bold text-uppercase">Decode Something</h4>
                        <!--end::Heading-->
                    </div>
                    <!--end::Card body-->
                </a>
                <!--end::Card-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Card-->
        <div class="card border-0 shadow-none min-h-200px" style="background-color: #D5D83D">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-wrap">
                <!--begin::Illustrations-->
                <img class="mw-100 h-200px me-4 mb-5 mb-lg-0" src="assets/media/illustrations/sigma-1/11.png" />
                <!--end::Illustrations-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-column align-items-center align-items-md-start flex-grow-1" data-theme="light">
                    <!--begin::Heading-->
                    <h3 class="text-gray-900 fw-bolder text-uppercase mb-5">WYSIWYG to Markdown !</h3>
                    <!--end::Heading-->
                    <!--begin::List-->
                    <div class="text-gray-800 mb-5 text-center text-md-start">Generate a Beautiful Markdown File Easily without
                    <br />even touching the code</div>
                    <!--end::List-->
                    <!--begin::Link-->
                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#kt_modal_markdown_tool" class="btn btn-hover-rise text-gray-900 text-uppercase fs-7 fw-bold" style="background-color: #EBEE51">Try Now</a>
                    <!--end::Link-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->