<div class="d-flex flex-column-auto flex-center">
    <!--begin::Navs-->
    <ul class="menu fw-semibold order-1">
        <li class="menu-item">
            <a href="https://orbitturner.com" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">About</a>
        </li>
        <li class="menu-item">
            <a href="https://github.com/orbitturner/ORBIT-ENCODER" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">Documentation</a>
        </li>
        <li class="menu-item">
            <a href="https://www.linkedin.com/in/orbitturner/" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">LinkedIn</a>
        </li>
        <li class="menu-item">
            <a href="https://twitter.com/orbitturner" target="_blank" class="menu-link text-white opacity-50 opacity-100-hover px-3">Twitter</a>
        </li>
    </ul>
    <!--end::Navs-->
</div>